@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Resets */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    @apply bg-[#fff1e5]; /* Using the off-white from your palette */
}